<% provide :title, "home" %>

<% if signed_in? %>
  <aside class='span4'>
    <p><%= current_user.name %></p>
    <p><%= current_user.email %></p>
    <%= form_for(@micropost) do |f| %>
      <%= f.text_area :content, placeholder: "posts here here here..." %>
      <%= f.submit "submit now!!!", class: "btn btn-large btn-primary" %>
    <% end %>
  </aside>

  <% if @user.microposts.any? %>
    <p4>you have <%= @microposts.count %> microposts!!!</p4>
    <ol>
      <%= render @microposts %>
    </ol>
  <% end %>

<% else %>
  <div class='center hero-unit'>
    <h1>Welcome to MicroPosts.Com!</h1>
    <%= link_to "sign up!", signup_path, class: 'btn btn-large btn-primary' %>
  </div>
  <p>How do you like the page?</p>
  <%= form_for(@pcomment, remote: true) do |f| %>
    <%= f.check_box :good %>good<br>
    <%= f.check_box :bad %>bad<br>
    <%= f.button "submit" %>
  <% end %>
<% end %>