<% if signed_in? %>
  <p>Sorry, you have already logged in.</p>
<% else %>
  <% provide :title, 'sign in' %>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "submit" %>
  <% end %>
<% end %>