<!DOCTYPE html>
<html>
<head>
  <title>MicroPosts.com | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class='navbar navbar-fixed-top'>
		<div class='navbar-inner'>
			<div class='container'>
		    <nav>
			    <%= link_to 'MicroPosts.com', root_path, id: 'logo' %>
			    <ul class='nav pull-right'>
				    <li><%= link_to 'home', root_path %></li>
				    <li><%= link_to 'help', help_path %></li>
            <li><%= link_to 'plaza', plaza_path %></li>
            <li><%= link_to 'users', users_path %></li>
            <% if signed_in? %>
                    <li><%= link_to 'my page', current_user %></li>
                    <li><%= link_to 'sign out', signout_path, method: 'delete' %></li>
              <% else %>
                <li><%= link_to 'sign in', signin_path %></li>
            <% end %>
			    </ul>
		    </nav>
	    </div>
	  </div>
	</header>
  
  <div class='container'>
    <%= yield %>
  </div>

  <footer class='footer'>
  			<small>
  		    <p> Copyright (c) MicroPosts, Inc 2013-2017</p>
  		  </small>
  		  <nav>
  		    <ul>
  			    <li><%= link_to 'about',   about_path %></li>
  			    <li><%= link_to 'contact', contact_path %></li>
  			    <li><%= link_to 'news',    news_path %></li>
  			  </ul>
  		  </nav>
  	  </div>
  	</div>
  </footer>
</body>
</html>
