<!DOCTYPE html>
<html>
<head>
  <% if signed_in? %>
    <script>
      window.onbeforeunload = function() {
        xhr = new XMLHttpRequest();
        xhr.open('post', '/user/pagecount', false);
        xhr.setRequestHeader("X-CSRF-Token", "TQIW2MmZMiMA/MChCz4WMGpMh2rlGpGFK7ba/RdHdXk=");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("tom=28&authenticity_token=6oKMLvJeEr7HWUL67jZlUY168LHBOdfNJPIiA3iJ3g4%3D");

        xhr = new XMLHttpRequest();
        xhr.open('get', '/user/pagecount', false);
        xhr.send(null);
        var rpage = xhr.responseText;
        var index = rpage.indexOf('pagesnumber') + 'pagesnumber'.length;
        var pagesnumber = '';
        while (!isNaN(rpage[index])) {
          pagesnumber += rpage[index++];
        }
        pagesnumber = parseInt(pagesnumber);
        if (pagesnumber == 0) {
          name = document.cookie.split("=")[0];
          document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
          alert('bye bye!!!');
        }
      };
    </script>
    <% current_user.update_attribute(:pages, current_user.pages + 1) %>
  <% end %>
  <title>MicroPosts.com | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <nav>
          <%= link_to 'MicroPosts.com', root_path, id: 'logo' %>
          <ul class='nav pull-right'>
            <li><%= link_to 'home', root_path %></li>
            <li><%= link_to 'help', help_path %></li>
            <li><%= link_to 'forum', forums_path %></li>
            <li><%= link_to 'plaza', plaza_path %></li>
            <li><%= link_to 'users', users_path %></li>
            <% if signed_in? %>
                    <li><%= link_to 'my page', current_user %></li>
                    <li><%= link_to 'sign out', signout_path, method: 'delete' %></li>
              <% else %>
                <li><%= link_to 'sign in', signin_path %></li>
                <li><%= link_to 'sign up', signup_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <div class='container'>
    <%= yield %>
    <% if signed_in? %>
      <hr>
      <p>you have opend <%= current_user.pages %> pages</p>
    <% end %>
  </div>

  <footer class='footer'>
    <small>
      <p>Copyright (c) MicroPosts, Inc 2013-2017</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'about',   about_path %></li>
        <li><%= link_to 'contact', contact_path %></li>
        <li><%= link_to 'news',    news_path %></li>
      </ul>
    </nav>
    </div>
  </div>
</footer>

<% if signed_in? %>
  <script>
    var footer = document.getElementsByClassName('footer')[0];
    var button = document.createElement('button');
    button.textContent = "<%= current_user.name %>";
    button.onclick = function() { alert("you are brave, <%= current_user.name %>"); };
    footer.appendChild(button);
  </script>
<% end %>
    
</body>
</html>
